/* Activities */
.activities {
    position: relative;
    grid-area: activities;
}

.activity-tabs {
    display: flex;
}

.hide-activities {
    display: block;
    height: 2rem;
    border-radius: 4px;
}

.activity-tab-button {
    display: block;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;

    font-size: 0.8rem;
    width: 1.2em;
    padding: 0.5em;
    margin: 0.3em 0;
    background: #232323;
    color: #BBB;

    border: solid 1px #323232;
    border-left: none;
    border-radius: 0px 4px 4px 0px;

    min-height: 8em;
    text-align: center;

    font-family: arial;
    font-weight:bold;
    text-transform: uppercase;
    cursor:pointer;

    box-shadow:0px 0px 5px 5px rgba(0,0,0,0.2);
    transition:0.5s;
}
@media (max-width: 600px) {
	.activity-tab-button {
		font-size: 1rem;
		min-height: 5em;
		width: 1.4em; /* makes tabs easier to click with fingers */
	}
}

.activity-tab-button:hover {
    background: #1A1A1A;
}

.activity-check {
    display: none;
}

/* Drawers */
.drawer {
    transition: visibility 200ms, opacity 200ms;

    visibility: hidden;
    font-family: arial;
    position: fixed;
    top: 10vw;
    bottom: 10vw;
    left: 10vw;
    right: 10vw;

    
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-shadow:0px 0px 20px 20px rgba(0,0,0,0.3);
}
@media (max-width: 600px) {
	.drawer {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
	.drawer .btn {
		font-size: 1.6em;
	}
}

.mode-light .drawer {
    background: #eee;
	color: black;
}
.mode-dark .drawer {
    background: #111;
	color: #F0F0F0;
}

:checked+.drawer {
    visibility: visible;
    opacity: 1;
}

.drawer-header,
.drawer-action,
.drawer-main {
    display: flex;
    position: relative;
    padding: 2vw;
    font-size: 1rem;
    justify-content: center;
}

.drawer-header::after,
.drawer-action::before {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: -1px;
    height: 2px;
    left: 0;
    right: 0;
    background-color: rgb(180, 180, 180);
}

.drawer-action::before {
    bottom: auto;
    top: -1px;
}

.drawer-header * {
    font-size: 1.7rem;
    font-family:arial;
    font-weight:bold;
}

.drawer-main {
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.drawer-close {
    position: absolute;
    right: 1vw;
    top:1vw;
    display:block;
    font-size:0em;
}
