.control-strip {
    position: relative;
    grid-area: control-strip;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    text-align:center;
    padding: 0.5rem;
    border-top: #111 1px solid;
    background-color:rgba(0,0,0,0.6);
    box-shadow:0px -15px 20px rgba(0,0,0,0.4);
}

.time-button, .tool {
    font-size: 0;
}

.time-button-icon {
    height: 1.5rem;
}

.tool-icon {
    height: 2rem;
}

.hide-activities {
    font-size: 0;
    display:none;
}

.hide-activities-icon {
    height: 24px;
}
.toolbox
{
    margin:auto;
}