#info-holder {
    position: fixed;
    top: 55vh;
    bottom: 14vh;
    left: 10vw;
    right: 10vw;

    border-radius: 6px;
    padding: 24px;

    display: flex;
    flex-direction: column;

    --colorShadow: rgb(26, 26, 26);
    -moz-box-shadow: 0px 0px 10px 2px var(--colorShadow);
    -webkit-box-shadow: 0px 0px 10px 2px var(--colorShadow);
    -o-box-shadow: 0px 0px 10px 2px var(--colorShadow);
    box-shadow: 0px 0px 10px 2px var(--colorShadow);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=var(--colorShadow), Direction=NaN, Strength=10);

    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;

    transition: opacity 400ms ease-in-out;

    font-family:arial;
    z-index:2;
}

#info-holder.info-holder-hidden {
    visibility: hidden;
    opacity: 0;
}

#info-holder h4 {
    font-size: 2rem;
}

#info-holder-text {
    flex-grow: 1;
    overflow-y: auto;
}

#info-holder-text p {
    animation: enter 200ms ease-in;
    line-height:0.5em;
}

#info-holder span {
    position:absolute;
    bottom:5px;
    right:5px;
    align-self: flex-end;
    margin:5px;
    order: 999;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
}