.layers {
    position: fixed;
    top: 0;
    left: 50%;

    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    background: rgba(0,0,0,0.8);
    border-radius: 12px;
    box-shadow: 0 0 20px  rgba(0,0,0,0.2);
}

.layers .layer-checkbox {
    display: none;
}

.layers .layer-toggle {
    box-sizing: border-box;
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0.125rem;
    margin: 0.25rem;
    background: #222;
    border: solid 1px #333;
    border-radius: 6px;
    filter:grayscale();
}

.layers .layer-toggle.active {
    background: #333;
    border-color: #FE0;
    filter: none;
}



.layers .layer-toggle .layer-toggle-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}