.wrapper {
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    display: grid;
    grid-template: "activities  title           title        " auto
                   "activities  .               control-zoom " 1fr
                   "activities  control-strip   control-strip" auto
                   /auto        1fr             auto
}

.viewport{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.title {
    position: relative;
    grid-area: title;
}

.camera-controls {
    position: relative;
    grid-area: control-zoom;
}

.inactive .ifactive,
.active .ifinactive {
    display: none;
}