* {
    overflow: visible;
}

.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    display: grid;
    grid-template: "activities  title           title        "auto "activities  .               control-zoom "1fr "activities  control-strip   control-strip"auto /auto 1fr auto
}

#axis {
    width: 75px;
    height: 75px;
    margin: 20px;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
}

.layers {
    display: none;
}

.mode-light {
    color: #000;
}

.mode-dark {
    color: #fff;
}

.viewport {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.title {
    position: relative;
    grid-area: title;
    display: none;
}

.camera-controls {
    position: relative;
    grid-area: control-zoom;
}

.inactive .ifactive,
.active .ifinactive {
    display: none;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.hidden.no-transition {
    transition: all 0s linear;   
}

.btn {
    color: white;
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
    padding: 1vw;
    border-radius: 4px;
    font-size: 1.2rem;
    box-shadow:0px 0px 5px 5px rgba(0,0,0,0.1);
    margin:1.3vh;
}

.btn:hover {
    background-color: #000;
    color:#FFF;
}

.inlinebtn {
    display:inline-block;
    box-shadow:0px 0px 3px 3px rgba(0,0,0,0.1);
    font-size: 1.0rem;
    padding:10px;
    min-width:200px;
    color:#AAA;
    text-align:center;
    background-color: rgba(50,50,50,0.6);
    text-transform: capitalize;
    font-weight:bold;
}

button {
    background-color: #222;
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    transition: 0.5s;
    transition: transform 0;
    box-sizing: border-box;
}

button.active {
    border: 1px solid #330;
    box-shadow: 0px 0px 3px 3px rgba(48, 48, 48, 0.4);
    background-color: #080808;
}

button:hover {
    background-color: #000;
}

/* Spinner */
.loading-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #1b1c1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.loading-spinner {
    position: relative;
    animation-name: spinner;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: #111;
    z-index: -1;
    width: 3rem;
    height: 3rem;
    padding: 2rem;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 100px #111;
}

.cross {
    margin:5px;
    height: 20px;
    cursor:pointer;
}

@keyframes spinner {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}
.stopped {
    border:1px solid red;
}