* {
    overflow: visible;
}

.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    display: grid;
    grid-template: "activities  title           title        "auto "activities  .               control-zoom "1fr "activities  control-strip   control-strip"auto /auto 1fr auto
}
#axis {
    width: 75px;
    height: 75px;
    margin: 20px;
    padding: 0px;
    position: absolute;
    right: 0px;
    bottom: 60px;
    z-index: 10;
}
.layers
{
    display:none;
}
.mode-light {
    color: #000;
}

.mode-dark {
    color: #fff;
}

.viewport {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.title {
    position: relative;
    grid-area: title;
    display:none;
}

.camera-controls {
    position: relative;
    grid-area: control-zoom;
}

.inactive .ifactive,
.active .ifinactive {
    display: none;
}

.btn {
    color: white;
    cursor:pointer;
    background-color: rgb(39, 39, 39);
    padding: 1vw;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.btn:hover
{
    background-color:#101010;
}

button {
    background-color:#222;
    padding:3px;
    border-radius:5px;
    margin:2px;
    cursor:pointer;
    transition: 0.5s;
    transition: transform 0;
    box-sizing:border-box;
}
button.active {
    border:1px solid #330;
    box-shadow:0px 0px 3px 3px rgba(48,48,48,0.4);
    background-color:#080808;
}
button:hover
{
    background-color:#000;
}

.loading-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #1b1c1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    color:white;
}

.loading-spinner {
    position: relative;
    animation-name: spinner;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
}

@keyframes spinner {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}