#achievements-holder,
#missions-holder {
    display: flex;

    flex-wrap: wrap;

    width: 100%;
    padding: 0;

    margin: auto;

    justify-content: space-evenly;
}


.achievement,
.mission {
    min-height: 20px;
    background-color: #222;

    padding: 6px;

    border: 1px solid #111;

    border-radius: 4px;

    width: 27%;
}

.achievement.done,
.mission.done {
    box-shadow: 0px 0px 6px 6px rgba(200, 150, 0, 0.3);
}

.mission {
    width: 40%;
    cursor: pointer;
    box-sizing: inherit;
    transition: all 200ms ease;
    margin:10px;
}

.mission:hover {
    transform: scale(1.02);
    border: 1px solid grey;
}

.mission:active {
    transform: scale(0.98);
    border: 1px solid darkgrey;
}

.achievement img,
.mission img {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    float: left;
}

.achievement h4,
.mission h4 {
    margin-top: 6px;
    text-align: center;
    font-weight: bold;
}

.achievement p,
.mission p {
    font-size: 0.9rem;
}
